{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "YOUR USER",
  "password": "YOUR PASS",
  "database": "YOUR DATABASE",
  "entities": ["./src/modules/**/infra/typeorm/entities/*.ts"],
  "migrations": ["./src/shared/infra/typeorm/migrations/*.ts"],
  "cli": {
    "migrationsDir": "./src/shared/infra/typeorm/migrations"
  }
}
